@use '../globals' as *;

.mainvisual {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
    margin-top: 80px;
    margin-bottom: $sectionMargin;

    & > video {
        min-width: 100%;
        min-height: 100%;
        max-width: none;
        
        position: absolute;
        top: 0;
        left: 0;
        transform: translate(-50%, -30%);

    }

    & > h1 {
        font-family: serif;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, calc(-50% - 40px));
        color: white;
        font-size: 2rem;
    }

    & .scroll-icon {
        position: absolute;
        bottom: 30%;
        left: 50%;
        transform: translateX(-50%);
        z-index: 3000;
        border-bottom-left-radius: 50%;
        border-bottom-right-radius: 50%;

        & > .down-arrow {
            display: inline-block;
            width: 2px;
            height: 30px;
            background-color: white;

            @include animation(
                $name: kf-down-arrow,
                $duration: 2s
            );
    
            &:before {
                content: '';
                position: absolute;
                bottom: 0;
                width: 10px;
                height: 2px;
                background-color: white;
                transform: translateX(-6px) translateY(-3px) rotate(60deg);
            }
    
            &:after {
                content: '';
                position: absolute;
                bottom: 0;
                width: 10px;
                height: 2px;
                background-color: white;
                transform: translateX(-2px) translateY(-3px) rotate(-60deg);
            }
        }

        & > p {
            position: absolute;
            bottom: 35px;
            left: -20px;
            color: white;
        }
    }
}


.pickup {
    margin-bottom: $sectionMargin;
}

.feature {
    margin-bottom: $sectionMargin;

    &__main {
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
    }

    &__item {
        list-style: none;
        box-shadow: 1px 1px 5px gray;
        
    }

    &__link {

        & > img {
            max-width: 100%;
        }
    }
}

.appear {
    // opacity: 0;
    transition: all 0.3s;
}

.appear.inview {
    opacity: 1;
}