.mainvisual {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
    margin-top: 80px;

    & > video {
        min-width: 100%;
        min-height: 100%;
        max-width: none;
        
        position: absolute;
        top: 0;
        left: 0;
        transform: translate(-50%, -30%);

    }

    & > h1 {
        font-family: serif;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        font-size: 2rem;
    }
}