.header {
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    background-color: white;

    &__inner {
        height: 80px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}