#loader {
    position: fixed;
    height: 100vh;
    top: 0;
    left: 0;
    width: 100vw;
    transition: opacity 1s;
    background-color: black;
    z-index: 9999;

    & svg {
        position: absolute;
        width: 100%;
        height: 10px;
        top: 50%;
        left: 0;
    }

    & .progressbar-text {
       transform: translate(50%, -50%);
    }
}

.loader-icon {
    position: absolute;
    top: 50%;
    left: 50%;

    width: 48px;
    height: 48px;
    display: inline-block;
    border: 2px solid #fff;
    box-sizing: border-box;
    // animation: rotation 2s linear infinite;
    transform: translate(-50%, -120%);
}
.loader-icon::after,
.loader-icon::before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    border: 2px solid #ff3d00;
    width: 38px;
    height: 38px;
    animation: rotationBack 1.5s linear infinite;
    transform-origin: center center;
}
.loader-icon::before {
    width: 28px;
    height: 28px;
    border-color: #fff;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes rotationBack {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-360deg);
    }
}
