.animate-title {
    & > .char {
        display: inline-block;
        transform: translateY(-20px);
        opacity: 0;
        transition: all 0.3s;

        @for $i from 1 through 10 {
            &:nth-child(#{$i}) {
                transition-delay: 0.05s * $i;
            }
        }
    }
}

.animate-title.inview {
    & > .char {
        transform: none;
        opacity: 1;
    }
}